<!-- App -->
<div class="content" role="main">
  <!-- Logo lol -->
  <div class="header">
    <div class='centralize'>
      <img src='assets/images/logoLol.png' class='bg'>
    </div>
    <div id="particles-js"></div>
  </div>

  <!-- Body main -->
  <main class="body-main">
      <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer">
      <p>Summoners Rift - Challenge by <a href="https://tech.nibo.com.br/" target="_blank">Nibo team</a> | Powered by <a href="https://www.linkedin.com/in/rafamoliv/" target="_blank">Rafael Oliveira</a></p>
  </footer>
</div>