// Global Styles
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
  font-family: "MedievalSharp", "Roboto", sans-serif;
  color: #fff;
}
